@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
html {
  background-color: #fdfdfd;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  height: 100%;
  box-sizing: border-box;
}

body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}


blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

// label {
//   font-weight: 700;
// }

#app{
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

*,*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}


  .animated {
    animation-duration: .2s;
  }

  .content-wrapper {
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    margin-left: 230px;
    padding-top: 50px;
  }

  .content-scrollbar{
    height: calc(100vh - 50px);
  }

  .content-wrapper .el-scrollbar__bar.is-vertical{
    display: none;
  }

  .content-wrapper .content {
    padding: 1.25rem;
  }

  .content-wrapper.slideCollapse{
    margin-left: 44px;
  }

  .content-wrapper.mobileSide{
    margin-left: 0px;
  }
  .icon-imgs-pre{
    width: 60px;
  }
  .main-color{
    color: #409EFF;
  }
  .main-color-bg{
    background: #409EFF;
  }
  .margin-left-3{
    margin-left: 3px;
  }
  .margin-left-10{
    margin-left: 10px;
  }
  .margin-right-p2{
    margin-right: 2%;
  }
  .margin-right-10{
    margin-right: 10px;
  }
  .input-width-50p{
    width: 50%;
  }
  .margin-bottom-10{
    margin-bottom: 10px;
  }
  .margin-bottom-25{
    margin-bottom: 25px;
  }
  .line{
    width: 60%;
    height: 1px;
    background: #eee;
  }

  //修复左侧菜单样式
  .el-menu-item, .el-submenu__title{
    height: 30px;
    line-height: 30px;
  }
  .input-width-80p{
    width: 80%;
  }


  //修复palceholder在safar上没有垂直居中
  .el-input--small .el-input__inner {
      line-height: 1px;
  }

  //报表树结构样式修改
  .my-rep-tree .el-tree-node span span {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    display: block;
  }
@media only screen and (max-width: 767px){
    .my-rep-tree .el-tree-node span span {
      width: 400px;
    }
  }
  @media only screen and (min-width: 992px){
     .my-rep-tree .el-tree-node span span {
      width: 120px;
    }
  }
  @media only screen and (min-width: 1200px){
     .my-rep-tree .el-tree-node span span {
      width: 120px;
    }
  }